---
slug: about
---
<div class="hello">
  <div class="presentation">
    <h1>Bastien Robert <span>- développeur junior</span></h1>
    <% t('about.text').each do |p| %>
      <p><%= p %></p>
    <% end %>
  </div>
  <div class="image">
    <%= image_tag('me.png') %>
  </div>
</div>
<div class="technos">
  <h2>Mes technos</h2>
  <div data-fluffy-container data-fluffy-options='{"mousePadding": 100, "showScrollbars": false}'>
    <div data-fluffy-content>
      <% sitemap.resources.select{ |r| r.path.start_with?('images/technologies') }.each do |image| %>
        <%= image_tag(image.path.split('/').drop(1).join('/')) %>
      <% end %>
    </div>
  </div>
</div>
<div class="socials">
  <ul>
    <% data.pages.socials.each do |v, k| %>
      <li><%= link_to v, k, target: '_blank' %></li>
    <% end %>
    <li class="email">
      <a href="#" class="main">Email</a>
      <span>
        <em class="copy-email"><%= t('about.email.copy') %></em> -
        <%= mail_to 'bastienrobert@outlook.com', t('about.email.send') %>
      </span>
    </li>
  </ul>
</div>
