---
slug: about
---
<div class="hello">
  <meta itemprop="name" content="Bastien Robert"/>
  <meta itemprop="jobTitle" content="Développeur web"/>
  <link itemprop="url" href="<%= config[:host] %>/about"/>
  <span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">
    <meta itemprop="name" content="IUT Bordeaux Montaigne"/>
  </span>
  <div class="presentation">
    <h1>Bastien Robert <span>- développeur junior</span></h1>
    <% t('about.text').each do |p| %>
      <p><%= markdown p %></p>
    <% end %>
  </div>
  <div class="image">
    <%= image_tag 'me.png', itemprop: 'image' %>
  </div>
</div>
<div class="technos">
  <h2><%= t('about.technos') %></h2>
  <div data-fluffy-container data-fluffy-options='{"mousePadding": 100, "showScrollbars": false}'>
    <div data-fluffy-content>
      <% sitemap.resources.select{ |r| r.path.start_with?('images/technologies') }.each do |image| %>
        <%= image_tag(image.path.split('/').drop(1).join('/')) %>
      <% end %>
    </div>
  </div>
</div>
<div class="awards">
  <h2><%= t('about.awards.title') %></h2>
  <ul>
    <% t('about.awards.text').each do |p| %>
      <li><%= markdown p %></li>
    <% end %>
  </ul>
</div>
<div class="some-socials">
  <ul>
    <% data.pages.socials.each do |v, k| %>
      <li><%= link_to v, k, target: '_blank', itemprop: 'sameAs' %></li>
    <% end %>
    <li id="email">
      <a href="#" class="main">Email</a>
      <span id="email-actions">
        <em class="copy" data-email="<%= data.pages.about.mail %>"><%= t('about.email.copy') %></em> -
        <%= mail_to data.pages.about.mail, t('about.email.send') %>
      </span>
      <span class="copied">Copié</span>
    </li>
  </ul>
</div>
