---
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---
<div id="basic-container" class="block" style="border-bottom-color: <%= project.color %>">
  <%= partial 'partials/title' %>
  <%= partial 'partials/main' %>
  <%= partial 'partials/description' %>
  <%= partial 'partials/mockups' %>
</div>
<% if project.medium %>
  <div id="medium-container" class="block" style="border-bottom-color: <%= project.color %>">
    <%= partial 'partials/medium', locals: {
        width: 1400,
        height: 300,
        widthDots: 30,
        heightDots: 10
      } %>
  </div>
<% end %>
<% if project.sitemap %>
  <div id="sitemap-container" class="block" style="border-bottom-color: <%= project.color %>">
    <%= partial 'partials/sitemap' %>
  </div>
<% end %>
