---
dynamic:
  enable: true
  data: project
  name_and_slug_translate: false
  name: name
  description: description
  slug: slug
dir:
  - projects
---
<div class="block" style="border-bottom-color: <%= project.color %>">
  <%= partial 'partials/title' %>
  <%= partial 'partials/main' %>
  <%= partial 'partials/description' %>
  <%= partial 'partials/mockups' %>
</div>
<div class="block" style="border-bottom-color: <%= project.color %>">
  <%= partial 'partials/sitemap' %>
</div>
