<meta itemprop="lastReviewed" content="<%= Time.now.strftime("%m/%d/%Y") %>" />
<div id="projects">
  <div id="oh-my-pi">
    <h1 class="pi-title"><%= t('titles.projects') %></h1>
    <svg class="pi-svg" width="366px" height="246px" viewbox="0 0 366 246" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <rect id="path-1" x="0" y="0" width="366" height="246"></rect>
      </defs>
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(-46.000000, -399.000000)">
        <g transform="translate(46.000000, 399.000000)">
          <g class="pi-image-parent">
            <mask id="mask-2" fill="white">
              <use xlink:href="#path-1"></use>
            </mask>
            <image class="pi-image" mask="url(#mask-2)" x="-0.997275204" y="0" width="366.997275" height="1394" xlink:href="#"></image>
          </g>
          <rect id="Rectangle-Copy-2" class="pi-image-color" opacity="0.482846467" x="0" y="0" width="366" height="246"></rect>
        </g>
      </g>
    </svg>
  </div>
  <ul id="projects-list" itemprop="breadcrumb" itemtype="http://schema.org/BreadcrumbList" itemscope>
    <meta itemprop="numberOfItems" content="<%= data.projects.count %>" />
    <% data.projects.each_with_index do |project, i| %>
      <li>
        <% link_to proxy_url(project.slug), class: 'project', data: {'border-color': project.color, project: project.slug, 'project-image': project.cover} do %>
          <meta itemprop="description" content="<%= project.description %>" />
          <meta itemprop="name" content="<%= project.name %>" />
          <h2><%= project.name %></h2>
          <span class="show-more">
            <%= t('projects.show-more') %>
          </span>
          <span class="work">
            <%= project[lang.to_s].work %>
          </span>
          <span class="technologies">
            <% project.technologies.each_with_index do |t, i| %>
              <%= t %><%= ", " if i != (project.technologies.count - 1) %>
            <% end %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
